@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font2';
  src: url('../public/assets/font2.woff') format('truetype'); 
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'font1';
  src: url('../public/assets/font1.ttf') format('truetype'); 
  font-weight:700;
  font-style: normal;
}
  