@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
    font-family: 'Moranga';
    src: url('./assets/fonts/Moranga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
   /* // Optional: Apply the font globally  */
   body {
    font-family: 'Moranga', sans-serif;
  } 
  